* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    background: black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Typography */

h1,
h2,
p,
a {
    margin-top: 0;
}

h1 {
    font-size: 2.625rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 1.25em;
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

p {
    color: #6B7280;
    margin-top: 0.75em;
}

.placeholder-icon {
    font-size: 5rem;
}

.placeholder-text {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #DFDDDD;
}

.my-watchlist {
    font-size: 0.875rem;
    font-weight: 700;
    color: FFFFFF;
    text-decoration: none;
}

.movie-info,
.ratings {
    font-size: 0.75rem;
    font-weight: 400;
    color: #111827;
    text-decoration: none;
}

.ratings {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5em;
}

.runtime {
    margin-right: 1em;
}

.watchlist {
    margin-left: 1.5em;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}

.watchlist:hover,
.watchlist:hover {
    background: grey;
    color: white;
}

/* Layout */

.header-bg {
    background-color: rgba(0,0,0, .7);
    background-image: url(../img/header-bg.avif);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -50px -180px;
    background-blend-mode: multiply;
}
.container {
    margin: 10% auto;
    max-width: 550px;
    min-height: 779px;
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 4em;
}

.section-bg {
    background: white;
    overflow: scroll;
    height: 41.5em;
}

.container-inner,
.container-movies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.container-movies {
    height: inherit;
}

.container-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  20em;
    height: 100%;
    margin: 0 auto;
}

.container-movie {
    background-color: #FFFFFF;
    display: flex;
    height: 150px;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: solid 1.5px #E5E7EB;
}

.container-movie:first-of-type {
    margin-top: 3em;
}

.column-one {
    width: 25%;
}

.column-two {
    width: 75%;
}

/* Form */

form {
    display: flex;
    margin-bottom: 0;
    position: relative;
    top: 1.2em;
}

button,
input {
    font-size: 0.875rem;
    font-weight: 500;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #D1D5DB;
}

input {
    width: 80%;
    border-radius: 4px 0 0 4px;
}

.magnifying-icon {
    background-image: url(../img/search.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em;
    padding-left: 2.5em;
}

button {
    width: 20%;
    border-radius: 0 4px 4px 0;
}